<div class="product-message">
<%= form_for product_message, remote: true, html: { class: "form-horizontal", id: "product_message-#{product_message.id}-editor" } do |f| %>
  <div class="m_editor-product-2 mrg20T">
    <div class="m_editor-content template-element" id="">
      <input type="hidden" name="product_message[product_message_id]" class="template-id" >
      <%= f.hidden_field :id %>
      <%= f.hidden_field :message_id %>
      <h5>商品カード</h5>
      <div class="m_editor-product-wrapper">
        <div class="m_editor-input" onclick="open_product_modal(this)">
          <% if f.object.product_id %>
            <span>商品: ID<%= f.object.product_id %></span>
          <% else %>
            <span>商品を選択してください</span>
          <% end %>
          <%= f.hidden_field :product_id, class: "product_id" %>
          <a data-toggle="modal" href="javascript:void(0)" onclick="open_product_modal(this)">設定</a>
        </div>
        <small>※リンクカードが自動に生成されます</small><br/>
        <div style="clear: both"></div>
      </div>
      <div class="m_text-save">
        <div class="row mrg5B">
          <button type="submit" class="btn btn-primary btn-blue-3 btn-product-submit" disabled onclick="$('#spinner').show();"><i class="fa fa-pencil-square-o fa-2" aria-hidden="true"></i> 保存</button>
        </div>
        <div class="row">
          <a onclick="<%= product_message.new_record? ? 'remove_card(this)' : 'show_card_review(this)' %>" class="btn btn-default btn-white-3">キャンセル</a>
        </div>
      </div>
      <div style="clear: both"></div>
    </div>
  </div>
<% end %>
</div>
