<%= form_for [:master, master_category], multipart: true, method: type == 'new' ? "post" : "put",
                      remote: true, html: { class: "form-horizontal", id: "master_category_form", style: "margin-top: -20px;" } do |f| %>
<div class="modal-body">
  <% if master_category.errors.any? %>
  <br>
  <div class="error-log">
    <h5><%= t("activerecord.errors.error_message")%></h5>
    <ul>
      <% master_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <!-- Modal Content -->
  <%= f.hidden_field :id %>
  <%= f.hidden_field :parent_id %>
  <div class="row form-input-wrapper">
    <div class="form-group">
      <%= f.label :name, class: "control-label col-sm-4" %>
      <div class="col-sm-8">
        <%= f.text_field :name, class: "form-control", placeholder: (type == 'new' ? 'メッセージカテゴリ名を入力してください' : ''), :maxlength => 200  %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :activity, class: "control-label col-sm-4" %>
      <div class="col-sm-8">
        <div class="radio radio-primary radio-inline">
          <%= f.radio_button :activity, true %>
          <%= f.label :activity_true, t('.activity.active') %>
        </div>
        <div class="radio radio-primary radio-inline">
          <%= f.radio_button :activity, false %>
          <%= f.label :activity_false, t('.activity.inactive') %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <a class="btn btn-cancel btn-submit-filter btn-smalll" data-dismiss="modal">
    <%= t('cancel_button') %>
  </a>
  <button type="submit" class="btn btn-primary btn-submit-filter btn-blue btn-smalll" data-disable-with="<%= type == 'new' ? t('.register') : t('.update') %>" data-action="save" role="button">
    <%= type == 'new' ? t('.register') : t('.update') %>
  </button>
</div>
<% end %>
